h1 {
    margin-left: -0.8rem
}

h2 {
    margin-left: -0.4rem
}

.App {
    max-width: 1680px;
    margin: auto;

    .App-header {
        position: fixed;
        width: 100%;
        max-width: 1680px;
        top: 0;
        padding: 3.2rem 2.8%;
        background-color: white;
        z-index: 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: transform 400ms;

        &.display {
            transform: translateY(0%);
        }

        &.hide {
            transform: translateY(-200%);
        }

        * {
            font-size: 2.4rem;
        }

        .navbar {
            .nav-link {
                border: 2px solid black;
                text-decoration: none;
                border-radius: 2.5rem;
                padding: 0.2rem 1.2rem 0.4rem;

                &:hover {
                    color: #03E91E;
                    border-color: #03E91E;
                }
            }

            .social-link {
                display: none;
            }

            #header-copyright {
                display: none;
            }
        }

        #toggle-buttons {
            #toggle-lang {
                .lang-btn {
                    background-color: transparent;
                    border-radius: 2.5rem;
                    width: 4.4rem;
                    padding-bottom: 0.4rem;
                    padding-right: 0.1rem;

                    &:hover {
                        cursor: pointer;
                        color: #03E91E;
                    }

                    @media screen and (max-width: 1079px) {
                        font-size: 1.6rem;
                        line-height: 65%;
                        padding-bottom: 0.3rem;
                        width: 3rem;
                        position: relative;
                        top: -0.2rem;
                    }
                }
            }

            #toggle-navbar {
                display: none;
                width: 3rem;
                height: 1.3rem;
                position: relative;
                top: -0.5rem;

                * {
                    position: absolute;
                    width: 100%;
                    height: 0.2rem;
                    background-color: black;
                    transition: transform 200ms;
                }

                #bar {
                    &-1 {
                        top: 0;
                    }

                    &-2 {
                        bottom: 0.2rem;
                    }
                }

                &.clicked {
                    #bar {
                        &-1 {
                            transform-origin: center;
                            transform: translateY(0.5rem) rotate(30deg);
                        }

                        &-2 {
                            transform-origin: center;
                            transform: translateY(-0.5rem) rotate(-30deg);
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 1079px) {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            transform: none;

            * {
                font-size: 2rem;
            }

            .navbar {
                position: absolute;
                top: calc(6.4rem - 50rem);
                width: 100%;
                background-color: white;
                z-index: 1;
                order: 2;
                padding: min(3.8rem, 4.8vh) 4.2% min(3.2rem, 4.2vh);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                transition: transform 400ms ease-out;
                border-radius: 0 0 2rem 2rem;
                overflow-y: scroll;
                max-height: calc(100vh - 6.4rem);

                .nav-link {
                    width: fit-content;
                    margin-bottom: min(2.2vh, 2rem);
                }

                #header-social-links {
                    margin-top: min(2.4vh, 2.2rem);
                    margin-bottom: min(2vh, 2rem);

                    .social-link {
                        display: block;
                        text-transform: uppercase;
                        margin-bottom: min(2.2vh, 2.2rem);
                    }

                    .social-icon {
                        margin-right: 0.6rem;
                    }

                    .social-text {
                        position: relative;
                        top: -0.2rem;
                    }
                }

                #header-copyright {
                    display: block;
                    opacity: 0.5;

                    p,
                    a {
                        font-size: 1.6rem;
                    }
                }

                &.display {
                    transform: translateY(50rem);
                    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.3);
                }

                &.hide {
                    transform: translateY(-20rem);
                    box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.3);
                }
            }

            #toggle-buttons {
                background-color: white;
                width: 100%;
                padding: 2rem 4.2%;
                display: flex;
                z-index: 2;
                justify-content: space-between;

                #toggle-lang {
                    * {
                        font-size: 2rem;

                        .lang-btn:active {
                            color: #03E91E;
                        }
                    }
                }

                #toggle-navbar {
                    display: block;
                    align-self: flex-end;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    main {
        padding: 0 2.8vw;

        @media screen and (max-width: 1079px) {
            padding: 0 4.3%;
        }

        section {
            margin: auto;
            padding-top: 10rem;
            padding-bottom: 12rem;

            @media screen and (max-width: 1079px) {
                padding-top: 6.4rem;
                padding-bottom: 2.8rem;
            }
        }

        h1,
        h2,
        h3 {
            font-weight: normal;
            font-size: 1em;
        }

        .uppercase {
            text-transform: uppercase;
        }

        .social-link {
            text-decoration: none;

            .social {
                display: inline-block;
                width: fit-content;
                padding: 2.6rem 3.6rem 2.8rem 2.8rem;
                background-color: #f5f5f5;
                border-radius: 2.4rem;
                font-size: 3.2rem;

                @media screen and (max-width: 1079px) {
                    padding: 2.4rem 2rem;
                    width: 100%;
                    max-width: 32rem;
                }

                &-icon {
                    margin-right: 1.2rem;
                    padding-top: 0.1rem;
                }

                &-text {
                    border-bottom: 1px solid black;
                    display: inline-block;
                    line-height: 1;
                    position: relative;
                    top: -0.2rem;

                    @media screen and (max-width: 1079px) {
                        font-size: 2rem;
                        top: -0.6rem;
                    }
                }
            }

            &:hover * {
                color: #03E91E;
                border-bottom-color: #03E91E;
            }
        }

        #home {
            .line-break {
                display: none;

                @media screen and (max-width: 599px) {
                    display: block;
                }
            }

            #hello {
                margin-top: 10rem;
                position: relative;
                font-size: 10.9rem;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @media screen and (max-width: 1079px) {
                    margin-top: 3.6rem;
                    font-size: 6rem;
                    line-height: 90%;
                    align-items: center;
                    // display: block;
                }

                .otter-mobile {
                    display: none;

                    @media screen and (max-width: 1079px) {
                        display: inline-block;
                        width: 5.6rem;
                        position: relative;
                        bottom: -0.6rem;
                        object-fit: contain;
                        margin-left: 0.5rem;
                    }
                }

                #otter-desktop {
                    width: 10.9rem;

                    @media screen and (max-width: 1079px) {
                        display: none;
                    }
                }
            }

            #description {
                font-size: 3.2rem;
                margin-top: 2.8rem;
                // width: 70%;

                @media screen and (max-width: 1079px) {
                    font-size: 2rem;
                    line-height: 146%;
                    margin-top: 2.4rem;
                    width: 70%;
                    max-width: 72rem;
                }

                #email {
                    &:hover {
                        color: #03E91E;
                    }
                }
            }
        }

        .section-title {
            font-size: 10.9rem;
            margin-bottom: 7.2rem;

            @media screen and (max-width: 1079px) {
                font-size: 6rem;
                line-height: 90%;
                margin-bottom: 4.8rem;
            }
        }

        #projects {
            .section-title {
                .line-break {
                    display: none;

                    @media screen and (max-width: 500px) {
                        display: block;
                    }
                }
            }

            &-gallery {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 1.8rem;
                margin-bottom: 2.4rem;

                @media screen and (max-width: 1079px) {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    grid-gap: 0;

                    @media screen and (min-width: 820px) {
                        max-height: 90rem;
                        max-width: 76rem;
                    }

                    a {
                        margin-bottom: 1.6rem;
                    }
                }

                .project-link {
                    .project {
                        // margin: auto;
                        position: relative;
                        border-radius: 2.4rem;
                        height: 50rem;
                        overflow: hidden;

                        @media screen and (max-width: 819px) {
                            max-width: 48rem;
                        }

                        @media screen and (min-width: 820px)and (max-width: 1079px) {
                            max-width: 36rem;
                        }

                        * {
                            color: white;
                            transition: 300ms ease;
                        }

                        &-name {
                            position: absolute;
                            top: 0;
                            z-index: 1;
                            width: 100%;
                            padding: 3.6rem 4rem 3.2rem;
                            font-size: 3.2rem;
                            text-transform: lowercase;
                            border-radius: 2.4rem 2.4rem 0 0;

                            @media screen and (max-width: 1079px) {
                                padding: 2rem 2.2rem;
                                font-size: 2rem;
                            }

                            .line-break {
                                display: none;

                                @media screen and (min-width: 1080px) {
                                    display: block;
                                }
                            }

                            &-arrow {
                                width: 1.7rem;
                                height: 1.7rem;
                                margin-left: 2rem;

                                @media screen and (max-width: 1079px) {
                                    width: 1.2rem;
                                    height: 1.2rem;
                                    margin-left: 1rem;
                                }
                            }
                        }

                        &-image {
                            width: 100%;
                            height: 100%;
                            border-radius: 2.4rem;
                            object-fit: cover;
                        }

                        &:hover *:not(.project-name) {
                            transform: scale(1.05);
                        }
                    }
                }

                #photo-gallery-link {
                    grid-column: 1 / span 3;
                    grid-row: 2;

                    @media screen and (max-width: 1079px) {
                        order: 1;
                    }

                    #photo-gallery {
                        background-color: #222222;

                        @media screen and (max-width: 1079px) {
                            height: 36rem;
                        }

                        .project-image {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            padding-top: 9.2rem;
                            padding-left: 2.7rem;
                            z-index: 2;

                            @media screen and (max-width: 1079px) {
                                padding-top: 3.2rem;
                                padding-left: 1.6rem;
                            }
                        }

                        &-text {
                            position: absolute;
                            top: 12rem;
                            left: 4rem;
                            font-size: 9.6rem;
                            z-index: 1;

                            .helvetica {
                                font-family: 'Helvetica';
                            }

                            #editorial {
                                font-family: 'Editorial', sans-serif;
                                font-size: 10.9rem;
                                text-transform: none;
                            }
                        }
                    }
                }

                #calculator-link {
                    grid-column: 1 / span 2;
                    grid-row: 1;

                    @media screen and (max-width: 1079px) {
                        order: 3;
                    }

                    #calculator {
                        .project-name {
                            color: black;

                            @media screen and (max-width: 479px) {

                                .line-break {
                                    display: block;
                                }
                            }
                        }

                        @media screen and (max-width: 1079px) {
                            height: 32rem;
                        }

                        @media screen and (max-width: 819px) {
                            height: 30rem;
                        }
                    }
                }

                #random-quote-machine-link {
                    grid-column: 4 / span 3;
                    grid-row: 2;

                    @media screen and (max-width: 1079px) {
                        order: 4;
                    }

                    #random-quote-machine {
                        border: 2px solid rgb(179, 138, 100);

                        .project-image {
                            border-radius: 2rem;
                        }

                        @media screen and (max-width: 1079px) {
                            height: 28em;

                        }

                        @media screen and (max-width: 369px) {}
                    }
                }

                #technical-documentation-page-link {
                    display: none;
                    grid-column: 3 / span 2;
                    grid-row: 2;

                    @media screen and (max-width: 1079px) {
                        order: 5;
                    }

                    #technical-documentation-page {
                        .project-name {
                            color: black;
                            background-color: rgb(226, 226, 226);
                        }

                        @media screen and (max-width: 1079px) {
                            height: 22rem;
                        }
                    }
                }

                #product-landing-page-link {
                    display: none;
                    grid-column: 5 / span 2;
                    grid-row: 2;

                    @media screen and (max-width: 1079px) {
                        order: 6;
                    }

                    #product-landing-page {
                        .project-name {
                            color: black;
                            background-color: rgb(226, 226, 226);
                        }

                        @media screen and (max-width: 1079px) {
                            height: 36rem;
                        }
                    }
                }

                #landing-page-link {
                    // display: none;
                    grid-column: 3 / span 4;
                    grid-row: 1;

                    @media screen and (max-width: 1079px) {
                        order: 2;
                    }

                    #landing-page {
                        .project-name {
                            color: white;
                            background-color: #07086C;
                        }

                        @media screen and (max-width: 1079px) {
                            height: 24rem;
                        }

                        .project-image {
                            @media screen and (min-width: 1080px) {
                                position: relative;
                                bottom: -2rem;
                            }
                        }
                    }
                }
            }

            .social {
                margin-top: 1.6rem;
            }

            @media screen and (max-width: 1079px) {
                .social {
                    margin: auto;
                    text-align: center;
                    max-width: 48rem;
                }
            }
        }

        #technologies {
            padding-bottom: 12.4rem;

            @media screen and (max-width: 1079px) {
                padding-bottom: 2.8rem;
            }

            .section-title {
                .transfer {
                    display: none;

                    @media screen and (max-width: 419px) {
                        display: inline-block;
                        // display: none;
                    }
                }
            }

            &-flexbox {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 80rem;
                // max-width: 1520px;
                margin: 0 -3.8vw;
                padding: 0 3.8vw;
                overflow: scroll;

                // @media screen and (max-width: 1679px) {
                //     overflow: scroll;
                // }

                @media screen and (max-width: 1079px) {
                    max-height: 60rem;
                }

                .technologies-list {
                    font-style: normal;
                    padding: 4.0rem;
                    margin-bottom: 2.4rem;
                    font-size: 3.2rem;
                    background-color: #f5f5f5;
                    border-radius: 2.4rem;
                    width: 49.6rem;
                    // margin-right: 3.2rem;

                    &:nth-of-type(3),
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        margin-left: 2.4rem;
                        margin-right: 2.4rem;
                    }


                    @media screen and (max-width: 1079px) {
                        padding: 2.4rem;
                        font-size: 2.4rem;
                        border-radius: 2rem;
                        margin-bottom: 1.6rem;
                        width: 28.2rem;

                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5) {
                            margin-left: 1.6rem;
                            margin-right: 1.6rem;
                        }
                    }

                    .list {
                        &-title {
                            font-size: 2.4rem;
                            opacity: 0.5;
                        }

                        &-items {
                            margin-top: 2.8rem;
                            line-height: 1.48;
                            margin-left: 4rem;

                            @media screen and (max-width: 1079px) {
                                font-size: 2.0rem;
                                margin-top: 2rem;
                                margin-left: 2.6rem;
                            }
                        }
                    }
                }
            }
        }

        #about-me {
            // display: none;
            // margin: auto;
            @media screen and (max-width: 1079px) {
                .section-title {
                    margin-bottom: 4rem;
                }
            }

            &-container {
                // margin: auto;
                padding: 2.8rem;
                background-color: #f5f5f5;
                border-radius: 2.4rem;
                display: flex;
                position: relative;
                width: fit-content;

                @media screen and (max-width: 1079px) {
                    // margin: none;
                    padding: 2rem;
                    border-radius: 2rem;
                }

                @media screen and (max-width: 829px) {
                    flex-direction: column;
                    align-items: center;
                    max-width: 48rem;
                }

                &-image {
                    border-radius: 2rem;
                    align-self: center;
                    // padding-left: 2.4rem;
                    order: 2;
                    object-fit: contain;
                    width: 50%;
                    min-width: 24rem;

                    @media screen and (max-width: 1439px) {}

                    @media screen and (max-width: 1079px) {
                        border-radius: 1.6rem;
                    }

                    @media screen and (max-width: 829px) {
                        padding-left: 0;
                        margin: 0;
                        margin-top: 2.8rem;
                        width: 100%;
                    }
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    padding-right: 2.4rem;

                    @media screen and (max-width: 1079px) {}

                    p {
                        font-size: 2.8rem;
                        line-height: 1.46;

                        @media screen and (max-width: 1439px) {
                            font-size: 2.4rem;
                        }

                        @media screen and (max-width: 1079px) {
                            font-size: 2rem;
                            line-height: 130%;
                        }
                    }
                }
            }
        }

        #contact {
            div {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @media screen and (max-width: 1079px) {
                    display: block;
                }

                #social-links {
                    display: flex;

                    .social:not(:last-child) {
                        margin-right: 1.6rem;

                        @media screen and (max-width: 1079px) {
                            margin-right: 0;
                            margin-bottom: 1.6rem;
                        }
                    }

                    @media screen and (max-width: 1079px) {
                        display: block;
                    }

                    :not(:last-of-type) {
                        margin-right: 1.6rem;
                    }

                    #telegram-icon {
                        width: 3rem;
                        height: 2.5rem;
                        position: relative;
                        top: -0.4rem;
                    }
                }

                #copyright {
                    p {
                        font-size: 2.4rem;
                        line-height: 1.48;
                        text-align: right;

                        @media screen and (max-width: 1079px) {
                            font-size: 2rem;
                            margin-top: 3.2rem;
                            text-align: left;
                        }
                    }

                    a:hover {
                        color: #03E91E;
                    }
                }
            }
        }
    }
}