@font-face {
	font-family: 'Editorial'; 
	src: url(../public/fonts/PPEditorialNew-UltralightItalic.otf); 
}

@font-face {
	font-family: 'Helvetica'; 
	src: url(../public/fonts/helvetica_regular.otf); 
}

@font-face {
	font-family: 'Golos'; 
	src: url(../public/fonts/golos_text_regular.ttf); 
}

@media (prefers-reduced-motion: no-preference) {
  * {
   scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
  font-family: 'Golos', 'Helvetica', sans-serif;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}